<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
<head>
<title>Hyperledger Fabric Identity Application</title>
<!-- <link rel="icon" href="favicon.png" type="image/gif"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

<!-- require jquery and bootstrap scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

</head>

<body ng-app="app" ng-controller="appController">
<div class="login-form">
  <form ng-submit="enrollUser()">
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input id="username" type="text" class="form-control" ng-model="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input id="organization" type="text" class="form-control" ng-model="org" placeholder="Organization">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" onclick="window.location='/index-user.html';">Log in</button>
    </div>
    <p>TOKEN {{token}}</p>
  </form>
</div>
</body>

<script type="text/javascript">
	function login() {
		var username = document.getElementById("username").value;
		var org = document.getElementById("organization").value;
		alert("You are trying to log in as " + username + " from organization " + org);
	}
</script>

<script src="angularApp.js"></script>
</html>
